nav{
	display: flex;
	justify-content: center;
	background-color: aqua;
	height: 70px;
	width: 50%;
}
form{
	background-color: red;
	height: 70px;
	width: 400px;
	margin-top: 50px;
}
body{
	height: 1080px;
	width: 1920px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
}
#imagefond{
	height: 70px;
	width: 70px;
}
