form{
	height: 70px;
	width: 400px;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#amogus, #amongus{
	height: 162px;
	width: 167px;
}
#ewanpasla{
	height: 10%;
	width: 10%;
}
#ewanpasla:hover {
	background-image: url(https://raw.githubusercontent.com/Clement-tass/learn/main/IMG/EwanDrip.png);
	background-size: cover;
}
nav{
	display: flex;
	justify-content: space-between;
}
#connexion{
	width: auto;
	margin: auto;
}
input{
	width: 400px;
	margin: 10px;
}
.content{
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
}
h1{
	color: white;
	font-size: 3.5rem;
	text-align: center;
}
h2{
	text-align: center;
}

video {
	position: fixed;
	right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
}
#sponso{
	text-decoration: line-through;
	order: 3;
}
h4{
	background-color: white;
}
.marie{
	color: rgb(255, 0, 0);

	height: 31%;
	width: 31%;
	text-align: center;
	margin-right: 250px;
}
#vidmarie{
	border-width: 10px;
	border-style: inset;
	border-radius: 10px;
	border-color: rgba(255, 254, 254, 0.425);
	height: 315px;
	width: 560px;
	background-color: aqua;

}
h1:hover{
	color: rgb(255, 0, 0);
}
input:focus{
	background-color: rgba(0, 204, 255, 0.644);
}
#vid2marie{
	border-width: 10px;
	border-style: inset;
	border-radius: 10px;
	border-color: rgba(255, 254, 254, 0.425);
	height: 315px;
	width: 560px;
	background-color: rgb(255, 0, 0);

}
.marie2{
	color: rgb(255, 0, 0);

	height: 31%;
	width: 31%;
	text-align: center;
}
aside{
	height: 500px;
	width: 1860px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}






