form{
	height: 70px;
	width: auto;
	margin-top: 200px;
}
#amogus{
	height: 162px;
	width: 167px;
	align-items: flex-start;
}
#amongus{
	height: 162px;
	width: 167px;
	align-items: flex-start;
}
nav{
	display: flex;
	justify-content: space-between;
}
#connexion{
	width: auto;
	display: flex;
	margin: auto;
}
body{
	background-size: cover;
	height: 100vh;
	background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
}
input{
	width: 400px;
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.content{
	display: flex;
	justify-content: center;
}
h1{
	color: white;
}